.word {
    margin-left: 10px;
    margin-bottom: 20px;
}

.button {
    margin-left: 20px;
    margin-bottom: 10px;
    display: inline-block;
    height: auto;
    padding: 14px 30px;
    background: transparent;
    letter-spacing: 0.03em;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}